<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiana.sjt.myinfocollecter">
    //允许程序打开网络
    <uses-permission android:name="android.permission.INTERNET" />
    //sd卡读写权限
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    // 获取手机信息权限
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    //摄像头
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:name=".MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity android:name=".home.view.WelcomeAcivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".home.view.HomeActivity"></activity>
        <activity android:name=".medicine.view.MedicineHomeActivity"></activity>
        <activity android:name=".medicine.view.NjszNewsActivity"></activity>
        <activity android:name=".utils.webview.ContentWebView"></activity>
        <activity android:name=".learn.view.HjActivity"></activity>
        <activity android:name=".learn.view.LearnHomeActivity"></activity>
    </application>

</manifest>