<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiana.sjt.myinfocollecter">
    //允许程序打开网络
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    //sd卡读写权限
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    // 获取手机信息权限
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    //允许程序录制音频
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    //允许应用程序修改全局声音设置的权限
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    //摄像头
    <uses-permission android:name="android.permission.CAMERA"/>

    //允许使用PowerManager的WakeLocks在进程休眠时能够后台保持
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <permission android:name="com.kiana.sjt.myinfocollecter.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.kiana.sjt.myinfocollecter.permission.MIPUSH_RECEIVE" />

    <application
        android:allowBackup="true"
        android:name=".MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1">
        <activity android:name=".home.view.WelcomeAcivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".home.view.HomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".medicine.view.MedicineHomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".medicine.view.NjszNewsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".utils.webview.ContentWebView"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>
        <activity android:name=".learn.view.HjActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".learn.view.LearnHomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".my.view.MyHomeActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".home.view.LoginActivity"
            android:screenOrientation="portrait"></activity>

        <service android:name=".utils.music.MusicService"></service>
        <service android:name=".tts.TTSZenTaoService"></service>

        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:enabled="true"
            android:process=":pushservice"
            android:name="com.xiaomi.push.service.XMPushService"/>
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" /> <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->
        <service
            android:enabled="true"
            android:exported="true"
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler" />
        <service
            android:enabled="true"
            android:name="com.xiaomi.mipush.sdk.MessageHandleService" /> <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver
            android:exported="true"
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver" >
            <intent-filter>
                <action
                    android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:exported="false"
            android:process=":pushservice"
            android:name="com.xiaomi.push.service.receivers.PingReceiver" >
            <intent-filter>
                <action
                    android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver>

        <receiver android:name=".XMReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>


        <service android:name="com.yuntongxun.ecsdk.ECClientService"></service>

        <service android:name="com.yuntongxun.ecsdk.ECClientService$InnerService"
            android:enabled="true" android:process=":push" />

        <receiver android:name="com.yuntongxun.ecsdk.booter.CCPReceivers$AlarmReceiver" android:process=":push"/>
        <receiver android:name="com.yuntongxun.ecsdk.booter.Alarm" android:exported="false" android:process=":push"/>

        <receiver
            android:name="com.yuntongxun.ecsdk.booter.CCPReceivers$ConnectionReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.yuntongxun.ecsdk.booter.CCPReceivers$BootReceiver"
            android:process=":push">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!--<receiver-->
            <!--android:name=".service.YuntxNotifyReceiver"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.kiana.sjt.myinfocollecter.action.VOIP_CALL" />-->
                <!--<action android:name="com.kiana.sjt.myinfocollecter.action.MESSAGE" />-->
                <!--<action android:name="com.kiana.sjt.myinfocollecter.action.NOTIFICATION_CLICK" />-->
                <!--<action android:name="com.kiana.sjt.myinfocollecter.action.PERSON_VERSION" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
    </application>

</manifest>